
    
        body{
            background-color:cornsilk;
        }
      
      li{
       
        margin-left:300px ;
        padding: 25px;

       }
       h1{ 
        margin: 50px;
       }
    /* </style>
</head>
<body>
    <h1>SKILLS</h1>
    <ul>
       <li>Python </li>
       <li>Django</li>
       <li>Html</li>
       <li>Css</li>
       <li>Java Sript</li>
       <li>Sql</li>
       
    </ul>
</body>
</html> */